body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.navbar {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand {
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Add padding to make the links clickable */
  border-radius: 20px; /* Make corners rounded */
}

.nav-link:hover {
  background-color: white; /* Change background color on hover */
  color: black; /* Change text color on hover */
  transition: background-color 0.5s, color 0.5s; /* Transition properties added here */
}