<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/header/header.css">
  <link rel="stylesheet" href="/components/footer/footer.css">
  $CSS_LINKS$

  <title>$TAB_TITLE$</title>
</head>
<body>
  <nav class="navbar">
    <h1 href="/" class="navbar-brand">Node.js Course</h1> <!-- Flyttet brandnavn uden for navbar-center -->
    <!-- Tilføjede 7 navigationslinks -->
    <a href="/introduction" class="nav-link">Introduction</a>
    <a href="/firstserver" class="nav-link">First Server</a>
    <a href="/servinghtmlfiles" class="nav-link">Serving Html Files</a>
    <a href="/time" class="nav-link">Time</a>
    <a href="/exportimport" class="nav-link">Export/Import</a>
    <a href="/ssr" class="nav-link">SSR</a>
    <a href="/async" class="nav-link">Async/Await</a>
  </nav>

  <main>